/* src/index.css */

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f2f5; /* Mesmo do App.css para consistência */
    /* Solução combinada */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Tipografia (opcional - ajuste se quiser) */
h1, h2, h3 {
  font-weight: 600; /* Ou outra fonte, se preferir */
  margin-bottom: 0.5em;
}

h1{
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}